body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.story{
    position: relative;
    padding-inline: 9%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#story_top{

    display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
    padding: 7%;

height: 10vh;

font-size: larger;
}
#story_top_name,
#story_top_title,
#story_top_shared {
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}
#back_btn {
    z-index: 0;
    position: absolute;
    top: -10%;
    left: 2.5%;
    font-size: 3rem;
    cursor: pointer;
}
#story_top_title{
    font-weight: 900;
    font-size: x-large;
  
}

#story_middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#story_middle_avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#story_middle_avatar_img {
    width: 50%;
}

#story_middle_avatar_btn{
    background-color: #5FA2D4;
    color: white;
    padding-inline: 5%;
    padding-block: 2%;
    border-radius: 95px;
    /* border: 1px solid black; */
    width: 66%;
    text-align: center;
    font-size: x-large;
    margin-block: 10%;
    font-weight: bold;
}
#story_btm{
    display: flex;
    font-size: x-large;
    justify-content: flex-start;
    background-color: #5FA2D4;
    padding-block:2% ;
    border-radius: 95px;
    color: white;
}
#story_btm > div{
    width: 33%;
    text-align: center;
    margin-bottom: 50px;
}

#story_btm_button2{
    border-inline: 1px solid white;
}
#story_middle_story{
    padding-bottom: 10%;
text-align: justify;
font-size: larger;}
.bg{
    z-index: -10;
    position: fixed;
   
}
.bg>div{
   
}
.bgFilterGreen{
    filter:hue-rotate(180deg);
}
#flower_tl{
    transform: translate(-30%, -33%);
}
#flower_bl{
    transform: translate(-10%, 20%);
    bottom: 0;
    position: inherit;
}
#flower_br{
    position: inherit;
    bottom: 0;
    right: 0;
    transform: translate(25%, 30%);
}
#story_btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#btn_story{
    background-color: #5FA2D4;
    padding-block: 2%;
    border-radius: 95px;
    font-size: x-large;
    justify-content: space-evenly;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border: none;
}

#btn_publish{
    background-color: #5FA2D4;
    padding-block: 2%;
    border-radius: 95px;
    font-size: x-large;
    justify-content: space-evenly;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border: none;
    margin-bottom: 50px;
}
#btn_preview {
    background-color: #5FA2D4;
    padding-block: 2%;
    border-radius: 95px;
    font-size: x-large;
    justify-content: space-evenly;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border: none;
}
#btn_story:hover, #btn_preview:hover, #btn_publish:hover, #btn_customize {
    cursor: pointer;
  }


#btn_customize{
    background-color: #5FA2D4;
    padding-block: 2%;
    border-radius: 95px;
    font-size: x-large;
    justify-content: space-evenly;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border: none;
    width: 60vw; 
    height: 5vh; 
    margin: 2vh auto;
}
#btn_record_audio{
    background-color: #5FA2D4;
    padding-block: 2%;
    border-radius: 95px;
    font-size: x-large;
    justify-content: space-evenly;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
}
#btn_write_story{
    background-color: #5FA2D4;
    padding-block: 2%;
    border-radius: 95px;
    font-size: x-large;
    justify-content: space-evenly;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
}
#btn_theme{
    background-color: #5FA2D4;
    padding-block: 2%;
    border-radius: 95px;
    font-size: x-large;
    justify-content: space-evenly;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
}
#btn_tell_your_story{
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-bottom: 80px;
    margin-top: 90px;
}
#my_story{
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
}
#outer_audio{
    margin-top: 50px;
}
#icon_play{
    width: 70px;
    height: 70px;
    margin-left: 35px;
}
#container_audio{
    border: 2px solid white;
    padding: 10px;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
    margin-top: 50px;
    border-width: 1px;
    height: 300px;
    margin-bottom: 50px;
}
#story_btm_2{
    display: flex;
    font-size: x-large;
    justify-content: flex-start;
    background-color: #5FA2D4;
    padding-block:2% ;
    border-radius: 95px;
   
}
#audio{
    width: 70px;
    height: 70px;
}
#trash{
    width: 70px;
    height: 70px;

}
#play_trash{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    justify-content: space-around;
}
#btn_save_audio{
    background-color: #5FA2D4;
    padding-block: 2%;
    border-radius: 95px;
    font-size: x-large;
    justify-content: space-evenly;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border: none;

    width: 300px; 
    margin: 0 auto; 
    display: block;
    margin-bottom: 50px;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 30px;
    background-color: #f8f8f8;
    resize: none;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #microphone{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 70px;
  right: 20px;

  }
  #text_container{
    position: relative;
    display: inline-block;
  }
  #header{
    text-align: center;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }

#bar {
  position: relative;
}

#items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 10px; /* You can add a gap for spacing between items */
}

#items > div {
  position: relative;
}

#bg_customiser_colours{
    display: grid;
    /*make the grid 2x5*/
    grid-template-columns: repeat(5, 1fr);
}
#bg_customiser_colours>div{
    background-color: #5FA2D4;
    margin: 2%;
    height: 10vh;
}
#bg_customiser_types{
    display: grid;
    /*make the grid x by 5*//*force the grid items to be the same width*/
    grid-template-columns: repeat(5, 1fr);
}
#bg_customiser_types>div{

    margin: 2%;
    height: 10vh;
  
}
#bg_customiser_types>div>img{
    width: 100%;
}